.todo__container {
  background-color: transparent;
  list-style: none;
  padding: 2.4rem 2rem;
  margin: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  border: 2px solid rgb(137, 119, 150);
}

.todo {
  font-size: 1.4rem;
  padding-bottom: 1rem;
}

.buttons {
  text-align: right;
}
