body {
  background: rgb(142, 127, 190);
  background: linear-gradient(
    90deg,
    rgba(142, 127, 190, 0.6074074074074074) 5%,
    rgba(247, 189, 224, 0.6162962962962963) 100%
  );
}

.container {
  color: rgba(0, 0, 0, 0.9);
  border-radius: 30px;
  font-family: "Gowun Batang", serif;
  width: 90%;
  min-height: 90vh;
  max-width: 1650px;
  min-width: 800px;
  padding: 1rem 4rem 4rem 4rem;
  margin: 2rem auto;
  box-sizing: border-box;
}

.todo-lists {
  display: flex;
  justify-content: space-between;
}
